<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<META HTTP-EQUIV="refresh" CONTENT="90">
</head>
<body>
<h1>15 백준 프로젝트</h1>
<h2>자료구조2</h2>
<table>
	<tr>
		<td width="100px">랭킹</td>
		<td width="200px">아이디</td>
		<td width="200px">맞춘 문제</td>
		<td width="200px">진행도</td>
	</tr>
	{% for d in ds %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{d.0}}</td>
		<td>{{d.1}}</td>
		<td>{{d.2}}</td>
	</tr>
	{% endfor %}
</table>
<h2>전체</h2>
<table>
	<tr>
		<td width="100px">랭킹</td>
		<td width="200px">아이디</td>
		<td width="200px">맞춘 문제</td>
		<td width="200px">제출</td>
		<td width="200px">정답률</td>
		<td width="200px">마지막 기록</td>
		<td>상태</td>
	</tr>
	{% for t in total %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{t.0}}</td>
		<td>{{t.1}}</td>
		<td>{{t.2}}</td>
		<td>{{t.3}}</td>
		<td>{{t.4}}</td>
		<td>{{t.5}}</td>
	</tr>
	{% endfor %}
</table>
</body>
</html>